/cs231n/datasets/cifar-10-batches-py/batches.meta
/cs231n/cs231n/datasets/cifar-10-python.tar.gz
/comparable.xlsx
/cs231n/datasets/cifar-10-batches-py/data_batch_1
/cs231n/datasets/cifar-10-batches-py/data_batch_2
/cs231n/datasets/cifar-10-batches-py/data_batch_3
/cs231n/datasets/cifar-10-batches-py/data_batch_4
/cs231n/datasets/cifar-10-batches-py/data_batch_5
/cs231n/datasets/cifar-100-python/meta
/cs231n/datasets/cifar-10-batches-py/readme.html
/cs231n/datasets/cifar-100-python/test
/cs231n/datasets/cifar-10-batches-py/test_batch
/cs231n/datasets/cifar-100-python/train
/~$comparable.xlsx
